{% extends "base.html.j2" %}

{% block obsah %}

<h2>Login</h2>

<form method="post">
    <input type="text"     name="login" placeholder="login"/> 
    <input type="password" name="password" placeholder="heslo" />
    <input type="submit" value="Odeslat přihlašovací údaje" />
</form>

{% endblock obsah %}
