{% extends "base.html.j2" %}

{% block obsah %}
<h2>URL Shortener</h2> 

<form method="post">
    <input type="text" id="s" name="zkracovac" placeholder="zadej url" style="width:77%;">
    <input type="submit" value="Zkrátit" />
</form>
<h3>{{"Zkrácená Url:   "}}</h3>
<p>{{zkratka}}</p>
<h3>{{"Původní Url:   "}}</h3>
<p style="font-size:10px">{{adresa}}</p>
<h3>{{"Historie:   "}}</h3>
<p>{{historie}}</p> 

{% endblock obsah %}