{% extends "base.html.j2" %}

{% block obsah %}

<h2>Shortener</h2>

<p><input type="text"     name="ulr" placeholder="vložte url"/> </p>
<p> <input type="submit" value="zkrátit" /> </p>
{% endblock obsah %}